@{
    Layout = "_Layout";
    ViewData["Title"] = "Create Student";
}

<h2>Create Your Favourite Student</h2>
<form asp-controller="Home" asp-action="DisplayStudent" method="post">
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" name="FirstName" required/></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" name="LastName" required /></td>
        </tr>
        <tr>
            <td>StudentId</td>
            <td><input type="number" name="StudentId" min="1" required /></td>
        </tr>
        <tr>
            <td>Email Address</td>
            <td><input type="email" name="EmailAddress" required /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="pass" required /></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" name="StudentDescription" required /></td>
        </tr>
    </table>
    <input type="submit" value="Create" />
</form>
