
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h2>This is CST8359_302 Lab 3! Please navigate to your page of choice.</h2>
<p>This lab was designed to teach Razor Rendering Engine and an overview of MVC’s routing feature.</p>

