@using Microsoft.AspNetCore.Http;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Singing.....";
    int numOfBottles = Int32.Parse(ViewBag.numOfBottles);
}


            @for (int i = numOfBottles; i >= 0; i--)
            {
                @if (i>1)
                {
                    <p>@i green bottles hanging on the wall,</p>
                    <p>@i green bottles hanging on the wall,</p>
                    <p>And if one green bottle should accidentally fall,</p>
                    <p>There'll be @(@i-1) green bottles hanging on the wall.</p>
                    <br />
                }
                else if (i==1)
                {
                    <p>@i green bottle hanging on the wall,</p>
                    <p>@i green bottle hanging on the wall,</p>
                    <p>And if one green bottle should accidentally fall,</p>
                    <p>There'll be no green bottles hanging on the wall.</p>
                    <br />
                }
                else if(i==0)
                {
                    <p>There are no green bottles hanging on the wall.</p>
                    <br />  
                }

            }

